<div class="container">
    <button mat-stroked-button (click)="goBack()" class="back-button">
        <mat-icon>arrow_back</mat-icon> Back
    </button>
    <mat-card *ngIf="matchDay" class="match-card">
        <mat-card-header>
            <mat-card-title>Match Details for Match Day {{ matchDay }}</mat-card-title>
        </mat-card-header>
        <table mat-table [dataSource]="matchDetails" class="mat-elevation-z8">
            <!-- Home Team Column -->
            <ng-container matColumnDef="homeTeamName">
                <th mat-header-cell *matHeaderCellDef> Home Team </th>
                <td mat-cell *matCellDef="let detail">
                    <button mat-button class="hover-button" matTooltip="Click to view the team details"
                        matTooltipPosition="right" (click)="selectTeamName(detail.homeTeamName)">
                        {{ detail.homeTeamName }}
                    </button>
                </td>
            </ng-container>

            <!-- Guest Team Column -->
            <ng-container matColumnDef="guestTeamName">
                <th mat-header-cell *matHeaderCellDef> Guest Team </th>
                <td mat-cell *matCellDef="let detail"> {{ detail.guestTeamName }} </td>
            </ng-container>

            <!-- Kickoff Time Column -->
            <ng-container matColumnDef="plannedKickoffTime">
                <th mat-header-cell *matHeaderCellDef> Kickoff Time </th>
                <td mat-cell *matCellDef="let detail"> {{ formatDate(detail.plannedKickoffTime) }} </td>
            </ng-container>

            <!-- Stadium Column -->
            <ng-container matColumnDef="stadiumName">
                <th mat-header-cell *matHeaderCellDef> Stadium </th>
                <td mat-cell *matCellDef="let detail"> {{ detail.stadiumName }} </td>
            </ng-container>

            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>



        <!-- Error Message Display -->
        <div *ngIf="matchDetails.length === 0 && !errorMessage">
            No matches found for the selected day.
        </div>
    </mat-card>

    <div *ngIf="matchDays.length > 0" class="dropdown-container">
        <mat-card-content class="dropdown-card">
            <mat-form-field appearance="fill">
                <mat-label>Select Match Day</mat-label>
                <mat-select (selectionChange)="onMatchDaySelect($event.value)">
                    <mat-option *ngFor="let day of matchDays" [value]="day">{{ day }}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </div>
</div>