<div>
    <mat-toolbar color="primary">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <!-- Title with Router Link -->
        <a class="toolbar-title" routerLink="/match/list">Match Details Application</a>
        <div class="w-full"></div>

        <div>
            <div>

                <!-- Title with Router Link -->
                <ng-container *ngIf="!user else showLogout">
                    <a mat-button routerLink="/">
                        Login
                    </a>
                </ng-container>

                <!-- Logout Template -->
                <ng-template #showLogout>
                    <div>
                        <mat-icon>account_circle</mat-icon>
                        <button mat-button>{{user?.email}}</button>
                        <a mat-button (click)="onLogout()">Logout</a>
                    </div>
                </ng-template>
            </div>
        </div>
    </mat-toolbar>
</div>