<div class="upload-container">
    <mat-card class="upload-card">
        <mat-card-header>
            <mat-card-title>Upload XML File</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="uploadForm" (ngSubmit)="onUpload()" class="upload-form">
                <label for="fileInput" class="file-label">Choose XML File: </label>
                <input type="file" accept=".xml" (change)="onFileSelected($event)" />

                <button mat-raised-button color="primary" type="submit" [disabled]="!selectedFile">
                    Upload
                </button>
                <!-- Display success or error messages -->
                <div class="messages-container">
                    <div *ngIf="successMessage" class="message-container success">
                        <mat-card class="message-card">
                            <mat-card-content>{{ successMessage }}</mat-card-content>
                        </mat-card>
                    </div>
                    <div *ngIf="errorMessage" class="message-container error">
                        <mat-card class="message-card">
                            <mat-card-content>{{ errorMessage }}</mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <button *ngIf="showGoToSelectMatchButton" mat-raised-button color="accent" (click)="goToSelectMatch()">
    <mat-icon class="my-icon">arrow_forward</mat-icon> Go to Select Match
    </button>
</div>